body{
	display: flex;
	margin: 0 0;
	background: url(../img/symphony.png);
	padding-top: 70px;
}

p{
	font-size: 16px;
	text-align: justify;
	margin-top: 20px;
}
@font-face{
	font-family: Liberation;
	src: url(../fonts/Liberation/LiberationSans-Regular.ttf);
}

.box_wrap{
	flex: 3;
	margin: 10px;
}

.controls{
	flex: 1;
}

.navbar-header{
	font-size: 30px;
	color: rgb(255, 188, 15);
	text-shadow: 1px 1px 1px black;
	padding-top: 3px;
}

.navbar{
	background-color: white;
	background-image: none;
}

#box{
	border: 1px solid rgb(203, 203, 203);
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgb(228, 228, 228) inset;
	opacity: 0.8;
	font-family: Liberation;
	box-sizing: content-box;
	overflow: hidden;

	height: 50px;
}

.container_flex{
	display: flex;
}

.container_left{
	flex: 28;
	padding: 0px 20px 0px 0px;
	
}

.font_table{
	overflow: auto;
	height: 500px;
}

.performance_boxes{
	overflow: auto;
	height: 500px;
	text-align: center;
}

.performance_box{
	background-color: white;
	border: 1px solid rgb(190, 190, 190);
	margin: 0px auto 8px auto;
	box-sizing: content-box;
	font-family: Liberation;
}

.container_right{
	flex: 10;
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 4px;
	margin-bottom: 20px;
}

.ui-icon{
	background-color: rgb(255, 206, 130);
	border-top-left-radius: 50px;
	border-bottom-right-radius: 7px;
	border-left: 1px solid rgb(190, 190, 190);
	border-top: 1px solid rgb(194, 194, 194);
	right: 0px;
	bottom: 0px;
}

.font_size_slider_wrap{
	padding: 20px 0px;
}

.font_size_slider{

}

.stats{
	border-top: 1px solid rgb(190, 190, 190);
	border-bottom: 1px solid rgb(190, 190, 190);
	display: flex;
	font-size: 12px;
	line-height: 18px;
}

.stats_left{
	flex: 1;
	font-weight: bold;
	text-align: right;
}

.stats_right{
	flex: 1;
	padding-left: 4px;
}

.text{
	width: 100%;
	height: 200px;
	resize: none;
}

.text_label{
	padding: 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.new_font{
	font-family: new_font;
	background-color: white;
	border: 1px solid rgb(194, 194, 194);
}

.loading{
	display: none;
}

.controls_link{
	font-size: 20px;
}